/* Elimino los estilos viejos porque ahora Tailwind maneja el diseño principal */
:host {
  display: block;
  width: 100%;
}

/* Ajustes finos para componentes PrimeNG en caso de ser necesario */
:host ::ng-deep .p-password input {
  width: 100%;
}

:host ::ng-deep .p-select {
  width: 100%;
}
